@import '../../../constants/Colors.scss';

.MainButton{
    padding: 5px 15px;
    background-color: $secondary;
    color:white;
    border:none;
    border-radius: 8px;
    transition: background-color 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045);

    &:focus{
        outline: none;
    }

    &:active{
        background-color: darken($secondary, 10%);
    }
}