@import '../../../constants/Colors.scss';

.newFischeItem{
    margin-top: 10px;

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        background-color: white;

        &--flex{
            display: flex;
            align-items: center;
        }
    }

    &__form{
        display: flex;
        width: 100%;
        margin-top: 3px;
        justify-content: center;
        background-color: white;
        padding: 30px;

        &--item{
            width: 45%;
            margin-left:20px;
        }
    }
}


