.ButtonIcon{
    width:25px;
    height: 25px;

}

.ButtonIcon--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width:20px;
    height: 20px;
    padding: 20px;
    transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);

    &:hover{
        background-color: #ccc;
        border-radius: 50%;
    }

    &:active{
        background-color: #aaa;
    }
}